<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <ion-card class="profile-card">
    <ion-card-header>
      <ion-card-title>{{ userData?.username | titlecase}}</ion-card-title>
      <ion-card-subtitle>{{ userData?.role | titlecase}}</ion-card-subtitle>
      <ion-text>{{ userData?.gender | titlecase}}</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="profile-row">
          <ion-col size="1">
            <ion-icon name="location-outline" class="profile-icon"></ion-icon>
          </ion-col>
          <ion-col>
            <p><strong>Address:</strong> {{ userData?.address }}</p>
          </ion-col>
        </ion-row>
        <ion-row class="profile-row">
          <ion-col size="1">
            <ion-icon name="call-outline" class="profile-icon"></ion-icon>
          </ion-col>
          <ion-col>
            <p><strong>Mobile:</strong> {{ userData?.mobile }}</p>
          </ion-col>
        </ion-row>
        <ion-row class="profile-row">
          <ion-col size="1">
            <ion-icon name="mail-outline" class="profile-icon"></ion-icon>
          </ion-col>
          <ion-col>
            <p><strong>Email:</strong> {{ userData?.email }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Buttons -->
      <ion-button expand="full" color="primary" (click)="openEditUserModal()" class="edit-button">
        Edit Profile
      </ion-button>
      <ion-button expand="full" color="danger" (click)="deleteUser()" class="logout-button">
        Logout
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
