.profile-content {
  --background: #f4f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.profile-card {
  width: 90%;
  max-width: 400px;
  text-align: left;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

ion-card-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #222;
  margin-bottom: 5px;
}

ion-card-subtitle {
  font-size: 1.2em;
  color: #666;
  font-weight: 500;
  margin-bottom: 15px;
}

.profile-row {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 1.1em;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
}

.profile-icon {
  font-size: 1.5em;
  color: #3b82f6; /* Adjust icon color */
  margin-left: -9px;
}

.logout-button {
  margin-top: 15px;
  font-size: 1.1em;
  font-weight: bold;
}

.edit-button {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold;
}
