<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <ion-card class="profile-card">
    <ion-card-header>
<!--       <ion-avatar class="profile-avatar">
        <img src="assets/profile-placeholder.png" alt="Profile Picture" />
      </ion-avatar> -->
      <ion-card-title>{{ userData?.username }}</ion-card-title>
      <ion-card-subtitle>{{ userData?.role }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="profile-row">
          <ion-col size="2">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <p><strong>Email:</strong> {{ userData?.email }}</p>
          </ion-col>
        </ion-row>
        <ion-row class="profile-row">
          <ion-col size="2">
            <ion-icon name="location-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <p><strong>Address:</strong> {{ userData?.address }}</p>
          </ion-col>
        </ion-row>
        <!-- Add more rows for other details as needed -->
      </ion-grid>

      <!-- Logout Button -->
      <ion-button expand="full" color="danger" (click)="logout()" class="logout-button">
        Logout
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
