<ion-content>
  <ion-card color="light">
    <ion-card-header class="titlle">
      <ion-card-subtitle>Welcome to Our App</ion-card-subtitle>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (submit)="onLogin()">
        <ion-item style="--background: transparent;">
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>
        <ion-item style="--background: transparent;">
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" name="password" [type]="passwordType" required></ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="togglePasswordVisibility()">
              <ion-icon [name]="passwordIcon"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-button id="open-loading" color="secondary" expand="block" type="submit">Login</ion-button>
        <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="2000"></ion-loading>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
