.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; // Adjust this value to position the text vertically
    text-align: center;
    color: #999; // Dim color
    font-size: 1.2em; // Adjust font size as needed
  }
  